
	
.dropdownmenu {
	background-color: #3E8AB0;
	display: flex;
	justify-content: space-around;
	}
		
.dropdownmenu ul {
	display: none;
	}

.dropdownmenu,
.dropdownmenu ul {
	list-style: none;
	margin: 0px;
	padding 0px;
	}
	
.dropdownmenu a {
	display: block;
	min-width: 250px;
	height: 55px;
	line-height: 55px;
	color: #000000;
	background-color: #3E8AB0;
	text-decoration: none; 
	
	text-align: center;
	padding: 3px 10px;
	transition: all 0.65s;
	}
	
.dropdownmenu > li > a {
	font-size: 24px;
        font-weight: 700;
        border-left: 2px solid #fff;
        }
        
.dropdownmenu > li a:hover {
	background-color: #F0F8FF;
	}
	
.dropdownmenu li {
	position: relative;
	font-weight: 700;
	}
	
.dropdownmenu li:hover ul {
	display: block;
	position: absolute; 
	top: 41px
	left: 0px
	z-index: 100;
	}
	
.dropdownmenu ul a:hover{
	background-color: #F0F8FF;
	}
	
