<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="vi" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Bách Khoa Luật" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="title" content="Ngừng đ&#236;nh c&#244;ng l&#224; g&#236;? c&#225;c trường hợp n&#224;o phải ngừng đ&#236;nh c&#244;ng?" />
    <meta name="description" content="Để phản đối một quyết định như thay đổi ch&#237;nh s&#225;ch lương thưởng hay điều chỉnh cơ cấu nh&#226;n sự, tập thể người lao động thường hay tổ chức những cuộc đ&#236;nh c&#244;ng với từng quy m&#244; v&#224; mức độ kh&#225;c nhau v&#224; ph&#225;p luật đ&#227; c&#243; những quy định để điều chỉnh h&#224;nh vi n&#224;y của người lao động ở mức độ cho ph&#233;p – đảm bảo an to&#224;n cho mọi người v&#224; duy tr&#236; trật tự x&#227; hội. V&#236; thế, việc một cuộc đ&#236;nh c&#244;ng sẽ phải bắt buộc ngừng khi rơi v&#224;o những trường hợp nhất định. Vậy ch&#237;nh x&#225;c đ&#243; l&#224; những trường hợp n&#224;o, ai l&#224; người được quyền y&#234;u cầu ngừng đ&#236;nh c&#244;ng, h&#227;y c&#249;ng theo d&#245;i b&#224;i viết dưới đ&#226;y để t&#236;m hiểu về vấn đề n&#224;y." />
    <meta name="keywords" content="Ngừng đ&#236;nh c&#244;ng, đ&#236;nh c&#244;ng" />
    <meta name="format-detection" content="telephone=no">
    <meta name="google" content="nositelinkssearchbox" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="Ngừng đ&#236;nh c&#244;ng l&#224; g&#236;? c&#225;c trường hợp n&#224;o phải ngừng đ&#236;nh c&#244;ng?" />
    <meta property="og:description" content="Để phản đối một quyết định như thay đổi ch&#237;nh s&#225;ch lương thưởng hay điều chỉnh cơ cấu nh&#226;n sự, tập thể người lao động thường hay tổ chức những cuộc đ&#236;nh c&#244;ng với từng quy m&#244; v&#224; mức độ kh&#225;c nhau v&#224; ph&#225;p luật đ&#227; c&#243; những quy định để điều chỉnh h&#224;nh vi n&#224;y của người lao động ở mức độ cho ph&#233;p – đảm bảo an to&#224;n cho mọi người v&#224; duy tr&#236; trật tự x&#227; hội. V&#236; thế, việc một cuộc đ&#236;nh c&#244;ng sẽ phải bắt buộc ngừng khi rơi v&#224;o những trường hợp nhất định. Vậy ch&#237;nh x&#225;c đ&#243; l&#224; những trường hợp n&#224;o, ai l&#224; người được quyền y&#234;u cầu ngừng đ&#236;nh c&#244;ng, h&#227;y c&#249;ng theo d&#245;i b&#224;i viết dưới đ&#226;y để t&#236;m hiểu về vấn đề n&#224;y." />
    <meta property="og:image" content="https://bachkhoaluat.vn/Content/Home/IMG_3323.jpg" />

    <!-- Title -->
    <title>Ngừng đ&#236;nh c&#244;ng l&#224; g&#236;? c&#225;c trường hợp n&#224;o phải ngừng đ&#236;nh c&#244;ng?</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/ContentV4/logo/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/ContentV4/AskExpert/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/ContentV4/AskExpert/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/ContentV4/AskExpert/assets/plugins/fontawesome/css/all.min.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="/ContentV4/AskExpert/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="/ContentV4/AskExpert/assets/plugins/select2/css/select2.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/ContentV4/AskExpert/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

    <link rel="stylesheet" href="/ContentV4/AskExpert/assets/plugins/dropzone/dropzone.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="/ContentV4/AskExpert/assets/css/feather.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/ContentV4/AskExpert/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="/Content/Admin/assets/node_modules/toast-master/css/jquery.toast.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/ContentV4/AskExpert/assets/js/html5shiv.min.js"></script>
        <script src="~/ContentV4/AskExpert/assets/js/respond.min.js"></script>
    <![endif]-->
        
</head>
<body ng-app="bach-khoa-luat">

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Header -->
<header class="header min-header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="container">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a href="/" class="navbar-brand logo">
                    <img src="/ContentV4/logo/logo.png" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="/" class="menu-logo">
                        <img src="/ContentV4/logo/logo.png" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li class="active">
                        <a href="/trang-chu"> Công Nghệ Tìm Kiếm BKL</a>
                    </li>
                    
                    <li>
                        <a href="/bang-phi"> Bảng Phí</a>
                    </li>
                    <li>
                        <a href="/lien-he"> Liên Hệ Tư Vấn</a>
                    </li>
                        <li class="login-link">
                            <a href="/dang-nhap?returnURL=%2Fcam-nang%2F14024%2Fngung-dinh-cong-la-gi-cac-truong-hop-nao-phai-ngung-dinh-cong-">Đăng Nhập</a>
                        </li>
                        <li class="login-link">
                            <a href="/dang-ky">Đăng Ký</a>
                        </li>
                </ul>
            </div>

                <ul class="nav header-navbar-rht">
                    <li class="nav-item">
                        <a class="nav-link header-login" href="/dang-nhap?returnURL=%2Fcam-nang%2F14024%2Fngung-dinh-cong-la-gi-cac-truong-hop-nao-phai-ngung-dinh-cong-">Đăng Nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-login login" href="/dang-ky">Đăng Ký</a>
                    </li>
                </ul>
        </div>
    </nav>
</header>
<!-- /Header -->

        


<input type="hidden" id="txtID" value="14024" />
<!-- Page Content -->
<div class="content" ng-controller="detailController">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-md-12">
                <div class="blog-view">
                    <div class="blog blog-single-post">
                        
                        <h3 class="blog-title">{{TieuDe}}</h3>
                        <div class="blog-info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li>
                                        <div class="post-author">
                                            Chuyên Mục: {{FeatureName}}
                                        </div>
                                    </li>
                                    <li>
                                        <i class="far fa-folder"></i>Lĩnh Vực: {{CategoryName}}
                                    </li>

                                    <li><a href="{{LinkTrichDan}}"><i class="far fa-meteor"></i>Nguồn: {{Nguon}}</a></li>
                                    <li><i class="fa fa-clock"></i>{{NgayDang}}</li>
                                </ul>
                            </div>
                        </div>
                        <style>
                            #ContentVie {
                                color: #000000 !important;
                                font-size: 12.0pt !important;
                                line-height: 115% !important;
                                font-family: "Times New Roman", serif !important;
                            }

                                #ContentVie span {
                                    color: #000000 !important;
                                    font-size: 12.0pt !important;
                                    line-height: 115% !important;
                                    font-family: "Times New Roman", serif !important;
                                }

                                #ContentVie table {
                                    width: 100% !important;
                                    margin-bottom: 20px !important;
                                }

                                #ContentVie img {
                                    max-width: 100% !important;
                                }

                                #ContentVie a[href] {
                                    color: #0070C0 !important;
                                }

                                    #ContentVie a[href] span {
                                        color: #0070C0 !important;
                                    }
                        </style>
                        <div id="ContentVie" style=""></div>
                    </div>

                    <div class="card blog-share clearfix">
                        <div class="card-body d-sm-flex align-items-center justify-content-between">
                            <h4 class="card-title mb-0">Chia Sẻ Bài Viết Này</h4>
                            <ul class="social-share">
                                <li><a href="https://facebook.com/bachkhoaluat" title="Facebook"><i class="feather-facebook"></i></a></li>
                                <li><a href="#" title="Twitter"> <i class="feather-twitter"></i></a></li>
                                <li><a href="#" title="Linkedin"><i class="feather-linkedin"></i></a></li>
                                <li><a href="#" title="Google Plus"><i class="feather-instagram"></i></a></li>
                                <li><a href="#" title="Youtube"><i class="feather-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <!--<div class="clearfix">

                    <div class="doc-review review-listing">-->
                    <!-- Review Listing -->
                    <!--<ul class="comments-list">
                <li ng-show="ListComment.length == 0">
                    <div class="comment">
                        <div class="comment-body">
                            <div class="meta-data">
                                Không Có Bình Luận
                            </div>
                        </div>
                    </div>
                </li>-->
                    <!-- Comment List -->
                    <!--<li ng-repeat="x in ListComment">
                <div class="comment">
                    <img class="avatar rounded-circle" alt="User Image" ng-src="~/{{x.HinhAnh}}">
                    <div class="comment-body">
                        <div class="meta-data">
                            <span class="comment-author">{{x.DisplayName}}</span>
                            <span class="comment-date">{{x.NgayLap}}</span>
                            <div class="review-count rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <p class="recommended"><i class="far fa-thumbs-up"></i> I recommend the doctor</p>
                        <p class="comment-content">
                            {{x.NoiDung}}
                        </p>
                        <div class="comment-reply">
                            <a class="comment-btn" href="#">
                                <i class="fas fa-reply"></i> Trả lời
                            </a>
                            <p class="recommend-btn">
                                <span>Gợi Ý?</span>
                                <a href="#" class="like-btn">
                                    <i class="far fa-thumbs-up"></i> Đúng
                                </a>
                                <a href="#" class="dislike-btn">
                                    <i class="far fa-thumbs-down"></i> Sai
                                </a>
                            </p>
                        </div>
                    </div>
                </div>-->
                    <!-- Comment Reply -->
                    <!--<ul class="comments-reply">

                 Comment Reply List
                <li>
                    <div class="comment">
                        <img class="avatar rounded-circle" alt="User Image" src="~/ContentV4/logo/icon-user1.png">
                        <div class="comment-body">
                            <div class="meta-data">
                                <span class="comment-author">Dr. Darren Elder</span>
                                <span class="comment-date">Reviewed 3 Days ago</span>
                            </div>
                            <p class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam.
                                Curabitur non nulla sit amet nisl tempus
                            </p>
                            <div class="comment-reply">
                                <a class="comment-btn" href="#">
                                    <i class="fas fa-reply"></i> Reply
                                </a>
                            </div>
                        </div>
                    </div>
                </li>-->
                    <!-- /Comment Reply List -->
                    <!--</ul>-->
                    <!-- /Comment Reply -->
                    <!--</li>-->
                    <!-- /Comment List -->
                    <!--</ul>-->
                    <!-- /Comment List -->
                    <!--</div>
            </div>-->
                    

                </div>
            </div>

            <!-- Blog Sidebar -->
            <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

                <!-- Search -->
                <div class="card search-widget">
                    <div class="card-body">
                        <form class="search-form">
                            <div class="input-group">
                                <input type="text" id="search-title" placeholder="Tìm Kiếm..." class="form-control">
                                <button type="submit" ng-click="Search()" class="btn btn-white"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Search -->
                <!-- Categories -->
                <div class="card category-widget">
                    <div class="card-header">
                        <h4 class="card-title">Chuyên Mục</h4>
                    </div>
                    <div class="card-body">
                        <ul class="categories">
                            <li><a href="/cam-nang-chuyen-muc/2111/nha-nuoc-phap-luat/">Pháp Luật <span>(62)</span></a></li>
                            <li><a href="/cam-nang-chuyen-muc/35/phap-luat-doanh-nghiep/">Doanh Nghiệp <span>(27)</span></a></li>
                            <li><a href="/cam-nang-chuyen-muc/80/hoc-thuat/">Học Thuật <span>(41)</span></a></li>
                            <li><a href="/cam-nang-chuyen-muc/74/hoi-dap-chuyen-vien/">Hỏi - Đáp Chuyên Viên <span>(116)</span></a></li>
                            <li><a href="/cam-nang-chuyen-muc/72/ky-nang/">Kỹ Năng <span>(155)</span></a></li>
                            <li><a href="/cam-nang-chuyen-muc/73/vu-viec-phap-ly/">Vụ Việc Pháp Lý <span>(107)</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /Categories -->
                <!-- Latest Posts -->
                <div class="card post-widget">
                    <div class="card-header">
                        <h4 class="card-title">Bài Viết Nổi Bật</h4>
                    </div>
                    <div class="card-body">
                        <ul class="latest-posts">
                            <li ng-repeat="x in ListNews | limitTo: 10">
                                <div class="post-info">
                                    <h4>
                                        <a href="/cam-nang/{{x.ID}}/{{x.TieuDeKhongDau}}">{{x.TieuDe}}</a>
                                    </h4>
                                    <p>{{x.FeatureName}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /Latest Posts -->
            </div>
            <!-- /Blog Sidebar -->
        </div>
    </div>

</div>
<!-- /Page Content -->



        

<!-- Footer -->
<footer class="footer">

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-contact">
                        <div class="footer-logo">
                            <img src="/ContentV4/logo/logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Hãy Để Việc Nghiên Cứu Pháp Luật Việt Nam Của Bạn Trở Nên Dễ Dàng Và Hiệu Quả Thông Qua Việc Sử Dụng Các Tính Năng Tiện Ích Trên Bách Khoa Luật </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">DỊCH VỤ</h2>
                        <ul>
                            <li><a href="/mau-bieu">Tra Cứu Mẫu Biểu</a></li>
                            <li><a href="/van-ban-luat">Tra Cứu Văn Bản Luật</a></li>
                            <li><a href="/thu-tuc-hanh-chinh">Tra Cứu Thủ Tục Hành Chính</a></li>
                            <li><a href="/trang-chu">Tra Cứu Án Lệ</a></li>
                            <li><a href="/tu-dien-phap-ly">Tra Cứu Từ Điển Pháp Lý</a></li>
                            
                            <li><a href="/lien-he">Liên Hệ Tư Vấn</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">CHÍNH SÁCH</h2>
                        <ul>
                            <li><a href="/quy-dinh-chung">Quy Định Chung</a></li>
                            <li><a href="/chinh-sach-thanh-toan">Chính Sách Thanh Toán</a></li>
                            <li><a href="/chinh-sach-bao-mat-thong-tin">Chính Sách Bảo Mật Thông Tin</a></li>
                            <li><a href="/bang-phi">Gói Dịch Vụ</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">GIỚI THIỆU</h2>
                        <ul>
                            <li><a href="#">Về Bách Khoa Luật</a></li>
                            <li><a href="#">Tính Năng Nổi Bật</a></li>
                            <li><a href="/huong-dan-su-dung">Hướng Dẫn Sử Dụng</a></li>
                            <li><a href="/hoi-dap-thuong-gap">Câu Hỏi Thường Gặp</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

            </div>
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="footer-widget footer-contact">
                        <div class="footer-contact-info">
                            <h2 class="footer-title">Thông tin về chủ sở hữu Website:</h2>
                            <p><span>CÔNG TY TNHH TƯ VẤN ĐẦU TƯ VLIC</span></p>
                            <p>
                                <span>Giấy chứng nhận đăng ký doanh nghiệp số 0313513306 do Sở KH&ĐT TP.HCM cấp ngày 29/10/2015. </span>
                            </p>
                            <p>
                                <span>Giấy phép thiết lập trang Thông tin điện tử tổng hợp số: 59/GP-TTĐT cấp ngày 13/12/2022 bởi Sở TT&TT TP.HCM </span>
                            </p>
                            <p>
                                <span>Địa chỉ trụ sở chính: 240 đường 3 tháng 2, phường 12, quận 10, TP.HCM</span>
                            </p>
                            <p>
                                <span>Địa chỉ liên hệ: 643 Điện Biên Phủ, phường 1, quận 3, TP.HCM</span>
                            </p>
                            <p>
                                <span>Điện thoại: 08 387 81919</span>
                            </p>
                            <p>
                                <span>Email: info@bachkhoaluat.vn</span>
                            </p>
                            <p>
                                <a href="http://online.gov.vn/Home/WebDetails/66520"><img src="/ContentV4/HomeV4/images/logoSaleNoti.png" width="25%"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">Bản Quyền &copy; 2020 Bách Khoa Luật giữ bản quyền nội dung website này.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a class="fab fa-facebook-f" href="https://www.facebook.com/bachkhoaluat.vn"></a></li>
                                <li><a class="fab fa-app-store" href="https://www.tiktok.com/@bachkhoaluat"></a></li>
                                <li><a class="fab fa-linkedin" href="https://www.linkedin.com/company/bachkhoaluat-vn/"></a></li>
                                <li><a class="fab fa-youtube" href="https://www.youtube.com/channel/UCPHSWa3Qri_V_j0GphsfJag/"></a></li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->

                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="/ContentV4/AskExpert/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/ContentV4/AskExpert/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Slick JS -->
    <script src="/ContentV4/AskExpert/assets/js/slick.js"></script>

    <!-- Select2 JS -->
    <script src="/ContentV4/AskExpert/assets/plugins/select2/js/select2.min.js"></script>

    <!-- Dropzone JS -->
    <script src="/ContentV4/AskExpert/assets/plugins/dropzone/dropzone.min.js"></script>

    <!-- Bootstrap Tagsinput JS -->
    <script src="/ContentV4/AskExpert/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

    <!-- Datetimepicker JS -->
    <script src="/ContentV4/AskExpert/assets/js/moment.min.js"></script>
    <script src="/ContentV4/AskExpert/assets/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Profile Settings JS -->
    <script src="/ContentV4/AskExpert/assets/js/profile-settings.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/ContentV4/AskExpert/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/ContentV4/AskExpert/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="/ContentV4/AskExpert/assets/js/script.js"></script>

    <script src="/Content/Admin/assets/node_modules/toast-master/js/jquery.toast.js"></script>
    <script src="/Scripts/Angular/angular.min.js" type="text/javascript"></script>
    <script src="/Scripts/Angular/angular-route.min.js" type="text/javascript"></script>
    <script src="/Scripts/Angular/angular-sanitize.js" type="text/javascript"></script>

    

    
    

    
    

    
    <script src="/Scripts/Library/mainv4.js?v=1.0.1"></script>
    <script src="/Scripts/HomeV4/CamNang/index.js?v=1.0.4"></script>

    <script>
        $('.main-wrapper').attr('class', '');
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176732551-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-176732551-1');
    </script>

    <script type="application/ld+json">
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://bachkhoaluat.vn/",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://bachkhoaluat.vn/tim-van-ban?t={search_term}",
          "query-input": "required"
        }
    </script>
</body>
</html>